<li class="dropdown">
  <%= link_to sufia.admin_stats_path, role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } do %>
    <span class="fa fa-gear"></span> <%= t("sufia.toolbar.admin.menu") %> <span class="caret"></span>
  <% end %>
  <ul class="dropdown-menu">
    <li><%= link_to t("sufia.toolbar.admin.statistics"), sufia.admin_stats_path %></li>
    <!-- <li><%= link_to t("sufia.toolbar.dashboard.my"), sufia.dashboard_index_path %></li>
    <li class="divider"></li>
    <li><%= link_to t("sufia.toolbar.dashboard.transfers"), sufia.transfers_path %></li>
    <li class="divider"></li>
    <li><%= link_to t("sufia.toolbar.dashboard.highlights"), sufia.dashboard_highlights_path %></li>
    <li><%= link_to t("sufia.toolbar.dashboard.shares"), sufia.dashboard_shares_path %></li> -->
    <li><%= link_to "Units", units_path %></li>
    <li><%#= link_to "Users", profiles_path %></li>
  </ul>
</li>
