<h2 class="items"><%= t('.header') %></h2>
<% if presenter.authorized_member_presenters(:read, :file_set).present?%>
<div class="table-responsive items">
  <table class="table table-striped related-files">
    <thead>
      <tr>
        <th><%= t('.thumbnail') %></th>
        <th><%= t('.title') %></th>
        <th><%= t('.date_uploaded') %></th>
        <th><%= t('.visibility') %></th>
        <th><%= t('.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'member', collection: presenter.authorized_member_presenters(:read, :file_set) %>
    </tbody>
  </table>
</div>
<% elsif can? :edit, presenter.id %>
    <div class="alert alert-warning" role="alert"><%= t('.empty', type: presenter.human_readable_type) %></div>
<% end %>
