
<% presenter.title.each_with_index do |title, index| %>
    <% if index == 0 %>
        <h1><%= title %> <%= presenter.permission_badge %></h1>
    <% else %>
        <h1><%= title %></h1>
    <% end %>
<% end %>
<%- if presenter.respond_to?(:unit) && presenter.unit.present? %>
  <span class="unit-title">- from the
    <a href="/dcs/catalog?f%5Bunit_sim%5D%5B%5D=<%= presenter.unit.first %>">
      <%= Unit.find_by_key(presenter.unit).name %>
    </a>
  </span>
<%- end %>
