<% provide :page_title, @presenter.page_title %>
<div itemscope itemtype="http://schema.org/CreativeWork" class="row">
  <div class="col-xs-12">
    <header>
      <%= render 'work_title', presenter: @presenter %>
    </header>
    <hr />
  </div>
  <div class="col-sm-4">
    Última modificación: <%= @presenter.date_modified %>
    <%= render 'representative_media', presenter: @presenter %>
    <%= render 'credit_line', presenter: @presenter %>
    <%#= render 'show_actions', presenter: @presenter %>
    <%#= render 'social_media' %>
    <%= render 'citations', presenter: @presenter %>
    <div class="col-xs-12 hidden-xs" style="padding:0px">
    <!-- <%# render 'relationships', presenter: @presenter %>
    <hr /> -->
    <%= render partial: 'units/unit_info', locals: { unit: Unit.find_by_key(@presenter.unit.first.to_s) } %>
    </div>
  </div>
  <div class="col-sm-8">
    <%= render 'work_description', presenter: @presenter %>
    <%= render 'metadata', presenter: @presenter %>
    <%= render 'items', presenter: @presenter %>
    <div class="col-xs-12 visible-xs">
      <!-- <%# render 'relationships', presenter: @presenter %>
      <hr /> -->
      <%#= render partial: "units/unit_info", locals: { unit: Unit.find_by_key(@presenter.unit.first.to_s) } %>
    </div>
  </div>
</div>
