<%= simple_form_for @unit do |f| %>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Unit information</strong></div>
      <div class="panel-body">
        <%= f.input :name, label: "Unit name" %>
        <%= f.input :description %>
        <%= f.input :contact_info %>   
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div id="memberships">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Members</strong></div>
        <div class="panel-body">
          <%= f.simple_fields_for :memberships do |membership| %>
            <%= render "membership_fields", :f => membership %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'add member', f, :memberships %>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
<%= f.button :submit %>
<% end %> 