<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Unit information</strong></div>
      <div class="panel-body">
        <%= simple_form_for @unit do |f| %>
          <%= f.input :name, label: "Unit name" %>
          <%= f.input :description %>
          <%= f.input :contact_info %>
          <%= f.button :submit, "Update" %>
          <%= link_to "Cancel", unit_path(@unit), :class => 'btn btn-link' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Members</strong></div>
      <div class="panel-body">
        <%= simple_form_for @unit do |f| %>
          <%= f.simple_fields_for :memberships, @membership do |m| %>
            <%= m.input :user_id, collection: User.all, include_blank: "Please select a user", input_html: { class: 'form-control select2-field' } %>
            <%= m.input :level %>
          <% end %>
          <%= f.button :submit, "Add" %>
        <% end %>
        <ul class="list-unstyled">
          <% if @unit.memberships.each do |membership| %>
            <li>
              <%= mail_to membership.user.email, membership.user.name %>
              <span class="pull-right">
                <%= membership.level %>
                <%= link_to 'Remove', membership_path(membership), method: :delete, data: { confirm: 'Are you sure?' } %>
              </span>
            </li>
          <% end.empty? %>
            <li>This unit has no members.</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>