<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title"><%= unit.name %></h1>
  </div>
  <div class="panel-body">
    <div class="row">
    <div class="col-md-12">
      <div class="unit_description_search">
      <p><%= unit.description %></p>
      <hr />
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><%= unit.address %></p>
      <p><%= unit.phone %></p>
      <p><%= unit.fax %></p>
      <p><%= unit.email %></p>
      <p><%= unit.url %></p>
    </div>
  </div>
  </div>
</div>
