<% provide :page_title, "Create Unit" %>

<h1 class="page-header">Create new unit</h1>

<%= simple_form_for @unit do |f| %>
  <%= f.input :name, label: "Unit name" %>
  <%= f.input :key, label: "Unit key", help: "Short identifier ofr this unit. Only A-Z, a-z, and 0-9 are allowed" %>
  <%= f.input :description %>
  <%= f.input :contact_person, label: "Contact Person" %>
  <%= f.input :address, label: "Address" %>
  <%= f.input :phone, label: "Telephone"  %>
  <%= f.input :fax, label: "Fax"  %>
  <%= f.input :email, label: "Email" %>
  <%= f.input :url, label: "Primary URL" %>
  <%= f.input :image, as: :file %>
  <%= f.submit "Create" %>
  <%= link_to "Cancel", units_path, :class => 'btn btn-link' %>
<% end %>
