<ul id="user_utility_links" class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <li>
      <%= link_to sufia.notifications_path do %>
        <span class="glyphicon glyphicon-bell"></span>
        <%= render partial: 'users/notify_number' %>
      <% end %>
    </li>
    <%= render 'admin/menu' if can? :view, :admin_menu %>
    <li class="dropdown user-options">
      <% if can_ever_create_works? %>
      <%= link_to sufia.profile_path(current_user), role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false} do %>
        <span class="sr-only">View</span>
        <span class="sr-only"> Tools</span>
        <span class="fa fa-wrench"></span>
        <span>Tools</span>
        <span class="caret" ></span>
      <% end %>
      <% end %>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <% if can_ever_create_works? %>
          <li>
            <%= link_to sufia.dashboard_works_path do %>
              <%= content_tag(:i, "", :class => "fa fa-cubes") %>
              <%= t("sufia.toolbar.works.my")  %>
            <% end %>
          </li>
          <% CurationConcerns::QuickClassificationQuery.new(current_user).each do |concern| %>
            <li>
              <%= link_to new_polymorphic_path([main_app, concern]), class: "item-option contextual-quick-classify #{dom_class(concern, 'new').gsub('_', '-')}",
              role: 'menuitem' do %>
                <%= content_tag(:i, "", :class => "fa fa-cube") %>
                <%= "#{t("sufia.toolbar.works.new")} #{concern.human_readable_type}" %>
              <% end %>
            </li>
          <% end %>
        <li>
          <%= link_to sufia.new_batch_upload_path do %>
            <%= content_tag(:i, "", :class => "fa fa-upload") %>
            <%= t("sufia.toolbar.works.batch")  %>
          <% end %>
        </li>
        <li class="divider"></li>
        <% end %>
        <% if can?(:create, Collection) %>
          <li>
            <%= link_to sufia.dashboard_collections_path do %>
              <%= content_tag(:i, "", :class => "fa fa-briefcase") %>
              <%= t("sufia.toolbar.collections.my")  %>
            <% end %>
          </li>
          <li>
            <%= link_to main_app.new_collection_path do %>
              <%= content_tag(:i, "", :class => "fa fa-folder-open") %>
              <%= t("sufia.toolbar.collections.new")  %>
            <% end %>
          </li>
          <li class="divider"></li>
          <% if can? :create, Import %>
            <li>
              <%= link_to main_app.imports_path do %>
                <%= content_tag(:i, "", :class => "fa fa-truck") %>
                <%= t("osul.imports") %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>
    <li class="dropdown user-options">
      <%= link_to sufia.profile_path(current_user), role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false} do %>
        <span class="sr-only">View</span>
        <span class="sr-only"> profile</span>
        <span class="fa fa-user"></span>
        <span>&nbsp;<%= current_user.name %></span>
        <span class="caret" ></span>
      <% end %>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <% if can? :read, :admin_dashboard %>
          <li>
            <%= link_to sufia.dashboard_index_path do %>
              <%= content_tag(:span, "", :class => "glyphicon glyphicon-dashboard") %>
              <%= t("sufia.toolbar.dashboard.my")  %>
            <% end %>
          </li>
        <% end %>
        <li>
          <%= link_to sufia.profile_path(current_user) do %>
            <%= content_tag(:i, "", :class => "fa fa-user") %>
            <%= 'View Profile'  %>
          <% end %>
        </li>
        <li>
          <%= link_to sufia.edit_profile_path(current_user) do %>
            <%= content_tag(:i, "", :class => "fa fa-edit") %>
            <%= 'Edit Profile'  %>
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to main_app.destroy_user_session_path do %>
            <%= content_tag(:span, "", :class => "glyphicon glyphicon-log-out") %>
            <%= 'Logout'  %>
          <% end %>
        </li>
      </ul>
    </li><!-- /.btn-group -->
  <% else %>
    <li class="login-link">
      <%= link_to omniauth_authorize_path(:user, login_strategy) do %>
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login
      <% end %>
    </li>
  <% end %>
</ul>
