<%- if @disable_turbolinks %>
  <meta name="turbolinks-cache-control" content="no-cache">
<%- end %>

<%= csrf_meta_tag %>
<meta charset="utf-8" />
<meta name="turbolinks-root" content="<%= relative_root_path %>">

<!-- added for use on small devices like phones -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="resourcesync" href="<%= sufia.capability_list_url %>"/>

<!-- Open Graph metadata -->
<meta property="og:title" content="<%= content_for?(:page_title) ? yield(:page_title) : default_page_title %>" />
<meta property="og:description" content="The Ohio State University Libraries Digital Collections makes digital representations of materials from the Libraries’ collections available for research. The materials are only a small portion of the visual materials in the Libraries collections and additional materials are added frequently." />

<!-- Twitter card metadata -->
<%= yield :twitter_meta %>
<!-- Google Scholar metadata -->
<%= yield :gscholar_meta %>

<title><%= content_for?(:page_title) ? yield(:page_title) : default_page_title %></title>
<meta name="description" content="The Ohio State University Libraries Digital Collections makes digital representations of materials from the Libraries’ collections available for research. The materials are only a small portion of the visual materials in the Libraries collections and additional materials are added frequently.">
<!-- application css -->
<link rel="stylesheet" href="//www.osu.edu/assets/fonts/webfonts.css">
<%= stylesheet_link_tag 'application', media: 'screen' %>
<%= stylesheet_link_tag 'print', media: 'print' %>

<!-- application js -->
<%= javascript_include_tag 'application' %>

<!-- Google Analytics -->
<%= render partial: '/ga', formats: [:html] %>

<!-- for extras, e.g., a favicon -->
<%= render partial: '/head_tag_extras', formats: [:html] %>
